@import "color-schemes/catppuccin-mocha.css";
@import url(https://fonts.bunny.net/css?family=lexend);

* {
  font-family: 'Lexend', sans-serif;
}

body {
  background-color: var(--base);
  padding: 32px;
}

table, th, td {
  border: 1px solid var(--surface0);
}

table {
  background-color: var(--mantle);
}

h1, h2, h3, h4, h5, h6,
p,
li, dd,
th, td,
label {
  color: var(--text);
}

input {
  background-color: var(--mantle);
  color: var(--text);
  border: 1px solid var(--surface0);
  border-radius: 5px;
  margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--pink);
}

hr {
  border: 1px solid var(--overlay2);
}

a {
  color: var(--blue);
}

.cat {
  width: 200px;
  height: 200px;
}

.spamton {
  width: 25px;
  height: 25px;
}