@import "color-schemes/catppuccin-mocha.css";
@import url(https://fonts.bunny.net/css?family=lexend);

* {
	font-family: "Lexend", sans-serif;
}

body {
	background-color: var(--base);
	padding: 2rem; /* 32px */
}

table,
th,
td {
	border: 0.0625rem solid var(--surface0); /* 1px */
}

table {
	background-color: var(--mantle);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dd,
th,
td,
label {
	color: var(--text);
}

input {
	background-color: var(--mantle);
	color: var(--text);
	border: 0.0625rem solid var(--surface0); /* 1px */
	border-radius: 0.3125rem; /* 5px */
	margin-top: 0.3125rem; /* 5px */
	accent-color: var(--pink);
}

hr {
	border: 0.0625rem solid var(--overlay2); /* 1px */
	margin-top: 45vh;
}

a {
	color: var(--blue);
}

.cat {
	width: 12.5rem; /* 200px */
	height: 12.5rem; /* 200px */
}

.spamton {
	width: 1.5625rem; /* 25px */
	height: 1.5625rem; /* 25px */
}

.menu-item {
	background-color: var(--mantle);
	border: 0.0625rem solid var(--overlay2); /* 1px */
	border-radius: 0.5rem; /* 8px */
	list-style-type: none;
	margin: 0.25rem; /* 4px */
	padding: 0.125rem; /* 2px */
	display: flex;
	justify-content: center;
}

.menu-text {
	color: var(--maroon);
	text-decoration: none;
}

#sidebar {
	width: 12rem; /* 192px */
	height: 100vh; /* Full height of the viewport */
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--mantle);
	border-right: 0.0625rem solid var(--overlay2); /* 1px */
	padding: 0.5rem; /* 8px */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

ul,
li,
ol,
dl {
	padding: 0;
	margin: 0;
}

dd {
	margin: 0rem 0rem 0rem 1rem;
}

.content {
	margin-left: 12rem; /* Move the content to the right of the sidebar */
	padding: 1rem; /* Add some padding */
}

#spamton-box {
	margin-top: auto;
}
