@import "color-schemes/catppuccin-mocha.css";
@import url(https://fonts.bunny.net/css?family=lexend);

* {
  font-family: "Lexend", sans-serif;
}

body {
  background-color: var(--base);
  padding: 2rem;
}

table,
th,
td {
  border: 0.0625rem solid var(--surface0);
}

table {
  background-color: var(--mantle);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dd,
th,
td,
label {
  color: var(--text);
}

input {
  background-color: var(--mantle);
  color: var(--text);
  border: 0.0625rem solid var(--surface0);
  border-radius: 0.3125rem;
  margin-top: 0.3125rem;
  accent-color: var(--pink);
}

hr {
  border: 0.0625rem solid var(--overlay2);
}

a {
  color: var(--blue);
}

.cat {
  width: 12.5rem;
  height: 12.5rem;
}

.spamton {
  width: 1.5625rem;
  height: 1.5625rem;
}
